logo.png
.vscode/*
test/*
test.c
.DS_Store
kernel.bin
boot.o
build-x86_64-apple-darwin23.0.0
config.log
config.status
serdep.tmp
kc.o
intl
intl/*
libc/random/rand.h
libcody
libdecnumber
libiberty
lto-plugin
zlib
a.out
libbacktrace
lto-plugin
kc.S
iso
__pycache__
user.conf
color.conf
initrd/user.conf
initrd/color.conf
libc/file/initrd.h
.gitignore
libc/random/rand.h
libc/file/initrd.h
